/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:15px; margin:0; }
textarea { resize:none; }
img {border:0;	vertical-align:middle;}
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#6C6C6C;
    background:#fff
}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a{color:#6C6C6C; text-decoration:none; }
a:hover{color:#ff4400;}
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;}
s,i,em{font-style:normal;text-decoration:none;}
.col-orange{color: #F22E00!important;}

/*公共类*/
.w{
    width: 1200px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航部分开始*/
.nav-box{
    height: 130px;
    border-bottom: 2px solid #E6E6E6;
}
.nav-box .logo{
    height: 90px;
    width: 200px;
}
.logo h1{
    width: 110px;
}
.logo h2{
    font: 22px/70px "";
    color: black;
}
.logo h1 a{
    display: block;
    width: 110px;
    height: 50px;
    background: url("../img/icon.png")-108px 6px;
    text-indent: -999px;
    margin-top: 10px;
}
.nav {
    margin-top: 15px;
}
.nav li{
    float: left;
    width: 171px;
    color: #CCCCCC;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding-left: 30px;
}
.nav span{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    color: white;
    text-align: center;
    font: bold 15px/25px "";
    float: left;
    background: #CCCCCC;
}
.nav li:first-child{
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-bottom:2px solid #FF4000;
}
.nav li:first-child span{
    background: #FF4000;
}
.nav li:last-child{
    font-size: 13px;
    color: black;
}
.nav li:last-child a{
    padding: 5px 9px;
    border-radius: 5px;
    color: black;
    font-weight: normal;
    border: 1px solid #DDDDDD;
}
.nav li:last-child a:hover{
    text-decoration: underline;
    color: #FF4001;
}
.nav li:last-child a:first-child{
    margin-left: 50px;
}
/*<!--注册内容页面-->*/
.content-box{
    height: 230px;
}
.content{
    height: 200px;
    width: 400px;
    margin: 70px auto;
    position: relative;
}
.content label{
    font-size: 18px;
    color: black;
}
.content .area{
    width: 160px;
    height: 40px;
    border: 1px solid #CCCCCC;
}
.area span{
    color: black;
    font: bold 15px/40px "微软雅黑";
    margin-left: 10px;
}
.area a{
    color: black;
    font: bold 15px/40px "微软雅黑";
    margin-right: 10px;
}
.area a i{
    font-size: 12px;
}
.tips{
    position: absolute;
    top: 11px;
    right: 50px;
}
.content input{
    width: 160px;
    height: 40px;
    border: 1px solid #DEDEDE;
    padding-left: 10px;
}
.content .proving{
    width: 300px;
    height: 35px;
    border: 1px solid #CCCCCC;
    margin-right: 22px;
    margin-top: 10px;
    background: #E8E8E8;
}
.proving label{
    font-size: 13px;
    color: #9C9C9C;
    position: relative;
    top: 10px;
    left: 30px;
}
.proving .slide{
    width: 36px;
    height: 36px;
    background: white;
    border: 1px solid #CCCCCC;
    margin-top: -1px;
    line-height: 36px;
}
.slide i:last-child{
    position: relative;
    top: -37px;
    left: 9px;
}
.content .num,.prove{
    height: 40px;
    width: 65px;
    line-height:50px;
}
.register{
    width: 180px;
    height: 35px;
    background: #EDEDED;
    color: #999999;
    margin:10px 75px 10px 75px;
}
.choose{
    margin-left: 75px;
}

/*右下角的找小蜜*/
.xiaomi{
    height: 70px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid #F5F5F5;
    position: fixed;
    bottom: 250px;
    right: 90px;
    font-size: 16px;
    color: #B7B7B7;
    padding-top: 20px;
}
.xiaomi i{
    font-size: 30px;
    color: #f7931e;
    margin-left: 10px;
    position: relative;
}
.xiaomi:hover{
    color:#f7931e;
    border:2px solid #f7931e;
}